<div class="show-modal-edit-user">
  <div class="show-modal-edit-user_all-content">

    <div class="show-modal-edit-user_modal">
        <div class="show-modal-edit-user_modal_header" [hidden]="hiddenAdd">
            AÑADIR USUARIO
         </div>
     
          <div class="show-modal-edit-user_modal_header" [hidden]="hiddenUpdate">
            ACTUALIZAR USUARIO
         </div>

    </div>
    

    <div class="show-modal-edit-user_content">
      
      <div class="show-modal-edit-user_title">
        
        <div class="show-modal-edit-user_title-label">
            <label >Nombre:</label>
        </div>

        <div>
          <input type="text" [(ngModel)]="user.name" autofocus class="show-modal-edit-user_title-input"> 
        </div>        
               
      </div>

      <div class="show-modal-edit-user_title">
        
        <div class="show-modal-edit-user_title-label">
          <label>Nombre de usuario:</label>
        </div>

        <div >
          <input [(ngModel)]="user.username" class="show-modal-edit-user_title-input">
        </div>
        
      </div>

      <div class="show-modal-edit-user_title">

        <div class="show-modal-edit-user_title-label">
          <label>Email:</label>
        </div>
        <div >
          <input [(ngModel)]="user.email" class="show-modal-edit-user_title-input">
        </div>

      </div>

      <div class="show-modal-edit-user_title">

        <div class="show-modal-edit-user_title-label">
          <label>Phone:</label>
        </div>
        <div >
          <input [(ngModel)]="user.phone" class="show-modal-edit-user_title-input">
        </div>

      </div>


      <div class="show-modal_error" ng-show="UserController.showRedMessage" [hidden]="hiddenError">
        Todos los campos han de estar informados.          
      </div>

      <div class="show-modal-edit-user_content-buttons">
        
        <div class="show-modal-edit-user_content-button-edit" [hidden]="hiddenAdd">
          
          <button   (click)="addUser()"  type="button" class="btn btn-primary">Añadir</button>

        </div>

        <div class="show-modal-edit-user_content-button-edit"  [hidden]="hiddenUpdate">

          <button  (click)="updateUser()"  type="button" class="btn btn-primary">Actualizar</button>

        </div>

        <div class="show-modal-edit-user_content-button-close">

          <button  (click)="volverListado()" type="button" class="btn btn-primary">Volver</button>

        </div>

      </div>

    </div>

  </div>

</div>
