<div class="content-comments-post-list__info">
  <li>
    Post Id: {{objectCommentPost.postId}}
  </li>
  <li>
    ID: {{objectCommentPost.id}}
  </li>
  <li>
    Nombre: {{objectCommentPost.name}}
  </li>
  <li>
    Email: {{objectCommentPost.email}}
  </li>
  <li>
    Body: {{objectCommentPost.body}}
  </li>
</div>

<div class="content-comments-post-list__buttons">
  <button type="button" class="btn btn-primary btn-md" (click)="backListPost()">Volver la listado de post</button>
</div>
<div class="content-post-list__separate-li">

</div>
<div class="content-post-list__separate-li"></div>

