<!--The content below is only a placeholder and can be replaced.-->

<div class="content-post-list__info">
  <li>
    Id: {{objectItem.id}}
  </li>
  <li>
    Título: {{objectItem.title}}
  </li>
  <li>
    Cuerpo: {{objectItem.body}}
  </li>
  <li>
    UserId: {{objectItem.userId}}
  </li>
</div>
<div class="content-post-list__buttons">

  <button type="button" class="btn btn-primary btn-md" (click)="editPost(post)">Editar</button>
  <button type="button" class="btn btn-primary btn-md" (click)="deletePost()">Eliminar</button>
  <button type="button" class="btn btn-primary btn-md" (click)="viewCommentPost()">Ver Comentarios</button>
</div>
<div class="content-post-list__separate-li">

</div>
<div class="content-post-list__separate-li"></div>




